%a{name: "services"}
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
      %hr.section-heading-spacer
      .clearfix
      %h2.section-heading Death to the Stock Photo
      %p.lead
        A special thanks to  for providing the photographs that you see in this template. Visit their website to become a member.</p>
      .col-lg-5.col-lg-offset-2.col-sm-6
        = tag :img, src: 'img/ipad.png', class: 'img-responsive'

